/**
 * Mise en page générale avec display: grid
 */

.site__entete {
    grid-area: header;
    padding: 1rem clamp(1rem, 3vw, 20rem);
    background-color: #D1B6E3;
}

.site__main {
    grid-area: main;
    overflow: hidden;
    background-color: lavenderblush;

    h1, h2, h3 {
        text-align: center;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        padding-top: 33px;
    }
}

.site__footer {
    grid-area: footer;
    background-color: lavender;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
}

.site__aside {
    grid-area: aside;
    // padding: 1rem clamp(1rem, 3vw, 20rem);
    background-color: mistyrose;
    text-align: center;

    ul {
        background-color: #B16FDE;
        text-align: left;

        a {
            color: lavender;
            text-decoration: none;
        }
    }
}

.site {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
      "header"
      "aside"
      "main"
      "footer";
    // row-gap: 50px;
    background-color: lightpink;

    @media screen and (min-width: $largeur__bureau) {
        grid-template-columns: 20% auto;
        grid-template-areas:
          "header header"
          "aside main"
          "footer footer";
    }
}

.no-aside {
    grid-template-areas:
      "header"
      "main"
      "footer";

    @media screen and (min-width: $largeur__bureau) {
        grid-template-columns: auto;
        grid-template-areas:
          "header"
          "main"
          "footer";
    }
}